<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="kaie" translate="label" sortOrder="1">
            <label>Kai Demo</label>
        </tab>
        <section id="geoip" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>GeoIP</label>
            <tab>kaie</tab>
            <resource>Kai_GeoIP::geoip</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="geoapikey" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Key</label>
                    <comment>This API to be used with ipstack.com.</comment>
                </field>
            </group>
        </section>
    </system>
</config>