<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\FrontControllerInterface">
        <plugin name="Kai_GeoIP_Plugin_BlockCountry" type="Kai\GeoIP\Plugin\BlockCountry" sortOrder="1" disabled="false" />
    </type>
</config>