<?xml version="1.0"?>
<!--
/**
 * Mindarc Pty Ltd.
 *
 * @category    Mindarc
 * @package     Mindarc_GoogleFeed
 * @author      Mindarc Team <hello@mindarc.com.au>
 * @copyright   Copyright (c) 2019 Mindarc Pty Ltd. (https://www.mindarc.com.au/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <google_feed>
            <generate>
                <enabled>1</enabled>
            </generate>
            <converter>
                <api_key>9efcebcad9f3d4134aaa</api_key>
            </converter>
        </google_feed>
    </default>
</config>